packages/
Store.Web/bin/System.Web.WebPages.Razor.xml
Store.Web/bin/
Store.WinForms/obj/
Store.WinForms/bin/
Store.NHibernate/bin/
Store.NHibernate/obj/
Store.Services/bin/
Store.Services/obj/
Store.Web/obj/
Store/obj/
.vs/config/applicationhost.config
